.letter-editor-container {
    /* background-image: url('./joshua-bartell-6vvIBTvL90A-unsplash.jpg'); Replace with your image */
    background-color: "#702b9d";
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.letter-editor-box {
    background: rgba(255, 255, 255, 0.8); /* Translucent white */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 800px;
}